header{
  background: #ffffff;
}
.one {
    padding: 60px 0px 25px 0px;
}
.logo{

}
.logo-img {
    width: 100%;
}
.nav-bar {
    padding-top: 22px;
}
ul{

}
ul li {
    display: inline-block;
    list-style: none;
}
ul li a {
    text-decoration: none;
}
span {
    margin: 70px;
    color: blueviolet;
}
.blank-color {
    background: #e4e4e4;
    height: 8px;
}
.mid{
	padding: 60px 0px;
}
.two{

}
.t1 h2 {
    padding: 20px 0px 60px 0px;
    font-family: lato bold;
    font-size: 50px;
}
.t1 p{
	font-size: 15px;
	text-align: justify;
}

.t2{
	position: relative;

}
.i1 {
    position: absolute;
    top: 24px;
    left: -75px;
}
.i2 {
    position: absolute;
    top: 69px;
    width: 69%;
    left: 118px;
}
.t2 p {
    padding-top: 352px;
    font-size: 15px;
}
footer {
    background-color: #ef4035;
    padding: 40px 0px;
}
footer p{
	text-align: center;
}
